
.jumbotron {
	background-image:url('images/back.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position:center top;
	min-height:500;
	margin-bottom:0px;
	color: #Fff ;
}

.navbar-fixed-top {
	margin-top: 10px;
	margin-right: 70px;
	margin-left: 70px;
} 

.jumbotron2 {
	background-image:url('images/monika.jpg');
	background-size:cover;;
	background-attachment: fixed;
	background-position:right top;
	min-height:100vh;
	margin-bottom:0px;
}



.alt2{
	background-color: #222;
  	border-color: #080808;
	min-height:150px;
	bottom: 0;
  	margin-bottom: 0;
  	right: 0;
  	left: 0;
  	text-align: right;

}

.alt1{
	background-color: #999;
}

.halfscreen{
	background-color: white;
	min-height:50vh;
	max-height: 50vh;
}